{% extends "yimi_admin/base.html" %}
{% block right_div %}
<link href="/static/watch/css/change.css" rel="stylesheet" type="text/css" />

{% load tag_extras %}
<div id="content" class="span10">
    <div class="wrapper">
        <div class="widget">
            <div class="navbar">
                <div class="navbar-inner">
                    <h6>管理</h6>
                    
                </div>
            </div>

            <div class="widget">
                              
                <ul class="options-bar">
                    <li>
                        <div class="  align-left">
                        <div class="bar-button"><button type="button" class="btn" onclick="location.href='{% url 'yimi_admin:proposal_add' %}'" >创建议题</button></div>
						<div class="bar-button"><button type="button" class="btn" onclick="location.href='{% url 'yimi_admin:proposal_list' %}'" >全部议题</button></div>
						<div class="bar-button"><button type="button" class="btn" onclick="location.href='{% url 'yimi_admin:proposal_list' %}?action_id=1'" >更新议题</button></div>
						{% for proposal_stage in proposal_stages %}
                            <div class="bar-button"><button type="button" class="btn btn-success" onclick="location.href='{% url 'yimi_admin:proposal_list' %}?stage_id={{proposal_stage}}'">{{proposal_stage_name|get_list_value:proposal_stage}}</button></div>
                        {% endfor %}
                        </div>  
                    </li>
                </ul>

            </div>
            <!-- /options bar -->                            
            <div class="table-overflow">
<div class="digg"><div class="sh_page" style="float:right;margin-top:3px;margin-bottom:9px;margin-right:-10px;">
{% if matchs.has_previous%}
<span><a href="?p={{matchs.previous_page_number }}">&lt; </span>
{%else%}
<span class="disabled">&lt; </span>
{%endif%}
{% for p in show_pages %}
<span ><a {% if p == matchs.number %} style="border:none; background-color:#333333;color:white;border-radius:5px;padding:5px 10px;"{% endif %}  href="?p={{p}}">{{p}}</a></span>
{% endfor %}

{% if matchs.has_next  %}  
<span ><a href="?p={{ matchs.next_page_number }}">&gt; </a></span>
{% else %}
<span class="disabled">&gt; </span>
{% endif %}
</div>
                <table width="85%" border="1" cellpadding="2" cellspacing="1">
                    <thead>
                        <tr>
                            <th>议案名称</th>
                            <th>议案简介</th>
                            <th>提案人</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proposal in proposals %}
                        <tr>
                           <td width = "100px" nowrap><a href="{% url 'yimi_admin:proposal_item_list' proposal.id %}">{{proposal.title}}</a></td>
                           <td nowrap style="table-layout:fixed;">{{proposal.description}}</td>
                           <td width = "100px" nowrap>{{proposal.submitter}}</td>
                           <td width = "100px" nowrap>{{proposal_stage_name|get_list_value:proposal.proposal_stage}}</td>
                           <td width = "200px" nowrap>
                            <input type="button" value="删除" onclick="location.href='{% url 'yimi_admin:proposal_delete' proposal.id %}'" />
                            <input type="button" value="编辑" onclick="location.href='{% url 'yimi_admin:proposal_add' %}?pid={{proposal.id}}'"/>
                            <input type="button" value="发布" onclick="location.href='{% url 'yimi_admin:proposal_status' proposal.id %}'"/>
                            <input type="button" value="修改条件" onclick="location.href='{% url 'yimi_admin:proposal_threshold' proposal.id %}'"/>
                           </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/static/myadmin/css/list.css" />


{% endblock %}
