<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/watch/css/change.css" rel="stylesheet" type="text/css" />
<script>
$(function() {

    $("input").blur(function() {
        if ($(this).val() == '') {
            $(this).next().addClass('visible');
        } else {
            $(this).next().removeClass('visible');
        }
    });

    $('.submit').click(function() {
        var a = 0;
        $('.sh_nes').each(function() {
            if ($(this).val() == '') {
                a = 1;
            }
        });
        if(a == 1){
       	alert('请完整填写表单');
        return false;
        }
    });
});
</script>

<div id="content" class="span10">
    <div class="wrapper">
        <div class="widget">
            <div class="navbar">
                <div class="navbar-inner">
                    <h6>提出议案</h6>
                    
                </div>
            </div>
            <!-- /options bar -->                            


<form action="{% url 'nanjing:proposal_add' appitem.slug %}" method="post" enctype='multipart/form-data'>{% csrf_token %}
<table class="mainTable">
      
      <tr>
        <td class="txtRight">标题：</td>
        <td><input name="title" type="text" class="inputTxt w240 sh_nes" value="{{proposal.title}}"  />*<span class="sh_error">请正确填写标题</span></td>
      </tr>
<!--      <tr>
        <td class="txtRight">时间：</td>
        <td><input name="a_time" type="text" class="inputTxt w240 sh_nes" value="{{activity.a_time}}"/>*<span class="sh_error">请正确填写时间</span></td>
      </tr> -->
      <tr>
        <td class="txtRight">简介：</td>
        <td><textarea name="description" type="text/plain" cols=15 rows=20 value="{{proposal.description}}" maxlength="140"/>*<span class="sh_error">请正确填写形式(最大长度140)</span></td>
      </tr>
<!--      <tr>
        <td class="txtRight">地点：</td>
        <td><input name="place" type="text" class="inputTxt w240 sh_nes" value="{{activity.place}}"/>*<span class="sh_error">请正确填写地点</span></td>
      </tr> -->
      <tr>
        <td class="txtRight">提案人：</td>
        <td><input name="submitter" type="text" class="inputTxt w240" value="{{openid}}"/>{{openaccount.name}}</td>
      </tr>
<!--      <tr>
        <td class="txtRight">人数：</td>
        <td><input name="count" type="text" class="inputTxt w240 sh_nes" value="{{activity.count|default:0}}"/>*<span class="sh_error">请正确填写人数</span></td>
      </tr> -->
      <tr>
        <td class="txtRight">内容：</td>
        <td>
        <textarea id="textArea" name="content" type="text/plain" cols=40 rows=20>{{proposal.content|safe}}</textarea>
        </td>
      </tr>
</table>

<div class="upload_main">
    <div style="border-bottom:1px solid #fff;" class="txtRight">上传活动图片(最多三张)：</div>
    <div class="upload_choose">
        <input id="Image" type="file" size="30" name="fileselect" multiple />
    </div>
    <div id="preview" class="upload_preview"></div>
</div>
<table>
<tr>
    <td colspan="2" align="center"><input name="" type="submit" class="inputBut mr10 submit"  value=">提交"/></td>
</tr>
</table>
</form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var editor = UE.getEditor('container-ueditor')
</script>
<script src="/static/zxxFile.js"></script>

<script>
var params = {
	fileInput: $("#Image").get(0),
	url: $("#uploadForm").attr("action"),
	filter: function(files) {
		var arrFiles = [];
		for (var i = 0, file; file = files[i]; i++) {
                        if (i>2) break;
			if (file.type.indexOf("image") == 0) {
				if (file.size >= 512000) {
					alert('您这张"'+ file.name +'"图片大小过大，应小于500k');	
				} else{ 
                                        arrFiles.push(file);	
                                }
			} else {
				alert('文件"' + file.name + '"不是图片。');	
			}
		}
		return arrFiles;
	},
	onSelect: function(files) {
		var html = '', i = 0;
		$("#preview").html('<div class="upload_loading"></div>');
		var funAppendImage = function() {
			file = files[i];
			if (file) {
				var reader = new FileReader()
				reader.onload = function(e) {
					html = html + '<div id="uploadList_'+ i +'" class="upload_append_list"><p><strong>' + file.name + '</strong>'+ 
						'<a href="javascript:" class="upload_delete" title="删除" data-index="'+ i +'">删除</a><br />' +
						'<img id="uploadImage_' + i + '" src="' + e.target.result + '" class="upload_image" /></p>'+ 
						'<span id="uploadProgress_' + i + '" class="upload_progress"></span>' +
					'</div>';
					
					i++;
					funAppendImage();
				}
				reader.readAsDataURL(file);
			} else {
				$("#preview").html(html);
				if (html) {
					//删除方法
					$(".upload_delete").click(function() {
						ZXXFILE.funDeleteFile(files[parseInt($(this).attr("data-index"))]);
						return false;	
					});
					//提交按钮显示
					$("#fileSubmit").show();	
				} else {
					//提交按钮隐藏
					$("#fileSubmit").hide();	
				}
			}
		};
		funAppendImage();		
	},
	onDelete: function(file) {
		$("#uploadList_" + file.index).fadeOut();
	},
	onDragOver: function() {
		$(this).addClass("upload_drag_hover");
	},
	onDragLeave: function() {
		$(this).removeClass("upload_drag_hover");
	},
	onProgress: function(file, loaded, total) {
		var eleProgress = $("#uploadProgress_" + file.index), percent = (loaded / total * 100).toFixed(2) + '%';
		eleProgress.show().html(percent);
	},
	onSuccess: function(file, response) {
		$("#uploadInf").append("<p>上传成功，图片地址是：" + response + "</p>");
	},
	onFailure: function(file) {
		$("#uploadInf").append("<p>图片" + file.name + "上传失败！</p>");	
		$("#uploadImage_" + file.index).css("opacity", 0.2);
	},
	onComplete: function() {
		//提交按钮隐藏
		$("#fileSubmit").hide();
		//file控件value置空
		$("#fileImage").val("");
		$("#uploadInf").append("<p>当前图片全部上传完毕，可继续添加上传。</p>");
	}
};
ZXXFILE = $.extend(ZXXFILE, params);
ZXXFILE.init();
</script>


<link rel="stylesheet" href="/static/myadmin/css/list.css" />


