<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{appitem.name}}</title>
<link href="/static/nanjing/css/base.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="wrap">
         <thead>
			 <tr>
				 <th>议案名称</th>
				 <th>议案简介</th>
			</tr>
		</thead>
	    {% for proposal in proposals %}
         <tbody>
             <tr>
             <td style = "width:100px;"><a href="{% url 'nanjing:proposal_show' appitem.slug proposal.id & open_id={{openid}}%}">{{proposal.title}}</td>
             <td style = "width:100px;">{{proposal.description}}</td>
             </tr>
         </tbody>
        {% endfor %}
    </div>

</body>
</html>

